<!doctype html>
<html lang="en" dir="ltr">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="SasiQlxOxtq0VAdo51a8I0CR3jXLdWp7YbXQ_8flrls">

<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include prefetch.html %}
{% include seo.html %}
{% include styles.html %}

<!--[if lt IE 9]><script src="/scripts/html5shiv.min.js"></script><![endif]-->

<body class="u-Flex u-Flex--Column">
  {% include header.html %}

  <!--[if lt IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

  <main role="main" class="u-Flex-1 container u-paddingVxl">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include scripts.html %}
