---
layout: default
---
<article itemscope itemtype="https://schema.org/Article">
  <header class="u-marginBm">
    <time class="secondary" itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%d %B, %Y" }}</time>
    <h1 itemprop="name">{{ page.title }}</h1>
  </header>

  <section class="paper" itemprop="articleBody">
    {{ content }}
  </section>

  <footer class="u-textCenter u-paddingTxl">
    <a class="u-linkComplex u-paddingAm" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via=hiroagustin">
      <i class="fa fa-fw fa-twitter"></i>
      <span class="u-linkComplexTarget">Tweet</span>
    </a>
  </footer>
</article>
