@import "config";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  color: $text-color;
  font-size: $base-font-size;
  min-height: 100%;
}
