@import "colors";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, .body {
  background: $silver;
  color: $black;
  min-height: 100%;
}

.body-alt {
  background: $black;
  color: $silver;

  a {
    color: $silver;
  }

  a:hover,
  a:focus,
  a:active {
    color: $white;
    border-color: $white;
  }
}
