@import "colors";

html {
  background: $silver;
  box-sizing: border-box;
  color: $black;
  font-size: 18px;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}
