@import "colors";
// Base
$primary-color: $olive;
$background-color: $silver;

// Text Colors
$text-color: $black;
$secondary-text-color: $gray;

$link-color: $black;
$link-color-hover: $primary-color;

// Alt Body
$alt-background-color: $black;
$alt-text-color: $silver;

$alt-link-color: $primary-color;
$alt-link-color-hover: $silver;

// Text Selection
$selection-background: $alt-background-color;
$selection-color: $primary-color;

$alt-selection-background: $primary-color;
$alt-selection-color: $alt-background-color;

$divider-color: $gray;

// Text Sizes
$base-font-size: 1em;
$base-line-height: 1.5em;

$border-width: 4px;
