@import "colors";

$primary-color: $olive;

$background-color: $silver;
$text-color: $black;
$link-color: $black;
$link-color-hover: $primary-color;

$alt-background-color: $black;
$alt-text-color: $silver;
$alt-link-color: $primary-color;
$alt-link-color-hover: $silver;

$divider-color: $gray;

$base-font-size: 1em;
$base-line-height: 1.5em;

$border-width: 4px;
