@import "colors";

$primary-color: $olive;

$background-color: $silver;
$text-color: $black;
$link-color: $black;
$link-color-hover: $black;

$alt-background-color: $black;
$alt-text-color: $silver;
$alt-link-color: $silver;
$alt-link-color-hover: $white;

$divider-color: $gray;

$base-font-size: 1em;
