---
layout: default
title: Home
---
<div class="Posts">
  {% for post in paginator.posts %}
  <article class="Post" itemscope itemtype="https://schema.org/Article">
    <header>
      <h1 class="Post__Title">
        <a href="{{ post.url }}" itemprop="headline">
          {{ post.title }}
        </a>
      </h1>
      <time class="Post__Date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date_to_long_string }}
      </time>
    </header>
    <section itemprop="articleBody">
      {{ post.content }}
    </section>
  </article>
  {% endfor %}
</div>

{% if paginator.next_page or paginator.previous_page %}
  <div class="Pagination">
    {% if paginator.next_page %}
      <a class="Pagination__Item Pagination__Item--Link Pagination__Item--Previous" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
    {% else %}
      <span class="Pagination__Item Pagination__Item--Previous">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="Pagination__Item Pagination__Item--Link Pagination__Item--Next" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% else %}
      <span class="Pagination__Item Pagination__Item--Next">Newer</span>
    {% endif %}
  </div>
{% endif %}
