@import "config";

.body-alt {
  background: $alt-background-color;
  border-style: solid;
  border-color: $primary-color;
  border-width: 0;
  color: $alt-text-color;

  ::selection {
    background: $alt-selection-background;
    color: $alt-selection-color;
  }

  a {
    color: $alt-link-color;

    &:hover,
    &:focus {
      border-color: $alt-link-color-hover;
      color: $alt-link-color-hover;
    }

    &::selection {
      color: $alt-selection-link-color;
    }
  }
}

.body-alt__top {
  border-top-width: $border-width;
}

.body-alt__bottom {
  border-bottom-width: $border-width;
}
