@import "config";
@import "colors";
@import "utils/breakpoints";

$padding: 20px;
$divider-width: 1px;
$fake-border-width: $border-width - $divider-width;

.box-link {
  border-top: $divider-color $divider-width solid;
  border-bottom: $fake-border-width solid transparent;
  display: block;

  padding-bottom: $padding - $fake-border-width;
  padding-left: $padding - 10px;
  padding-right: $padding - 10px;
  padding-top: $padding - $divider-width;

  transition: background-color .25s ease-out;

  @include breakpoint(30em) {
    padding-left: $padding;
    padding-right: $padding;
  }

  &:hover {
    background: $white;
    border-top: $primary-color $border-width solid;

    padding-top: $padding - $border-width;
    padding-bottom: $padding;
  }
}

.box-link__highlight {
  border-top-color: $primary-color;
}
