@import "config";
@import "colors";
@import "utils/breakpoints";

$padding: 20px;
$padding-sm: 10px;

.box-link {
  border-top: $divider-color 1px solid;
  color: $black;
  display: block;
  padding: $padding $padding-sm;

  @include breakpoint(30em) {
    padding: $padding;
  }

  &:hover,
  &:focus {
    background: #fefefe;
    border-bottom: none;
    border-top-color: $primary-color;
  }

  &__description {
    margin-bottom: 0;
  }
}
