@import "utils/breakpoints";

.u-Flex {
  display: flex;
}

.u-Flex--Column {
  flex-direction: column;
}

.u-Flex--Center {
  align-items: center;
}

.u-Flex--Justify {
  justify-content: space-around;

  @include breakpoint(30em) {
    justify-content: space-between;
  }
}

.u-Flex-1 {
  flex: 1;
}
