@import "config";
@import "colors";

html {
  color: $text-color;
  font-size: $base-font-size;
  font-family: Open Sans, sans-serif;
  line-height: $base-line-height;
}

h1, .h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 2em;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

h3, .h3 {
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.17em;
}

a {
  color: $link-color;
  border-bottom: 1px solid $link-color;

  &:hover {
    color: $link-color-hover;
    border-bottom: none;
    text-decoration: none;
  }
}

time {
  color: $gray;
}
