@import "config";

html {
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, .h1 {
  font-size: 2em;
  font-weight: bold;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.17em;
  font-weight: bold;
}
