@import "config";

html {
  color: $text-color;
  font-size: $base-font-size;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  line-height: $base-line-height;
}

h1, .h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: $base-line-height;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: $base-line-height;
}

h3, .h3 {
  font-size: 1.17em;
  font-weight: normal;
}

a {
  color: $link-color;
  border-color: $link-color;
  transition: color .2s ease-out, border-color .2s ease-out;
  text-decoration: none;
  will-change: color, border-color;

  &:hover,
  &:focus {
    color: $link-color-hover;
    border-bottom: 1px solid $link-color-hover;
    outline: none;
    text-decoration: none;
  }

  &:active {
    // color: $link-color-active;
    text-decoration: none;
  }

  &::selection {
    color: $selection-link-color;
  }
}

.secondary {
  color: $secondary-text-color;
}
