<footer class="Footer">
  <div class="Container Footer__Content">
    <ul class="SocialNav">
      <li class="SocialNav__Item">
        <a class="SocialNav__Link SocialNav__Link--Twitter"
           href="https://twitter.com/HiroAgustin/"
           rel="noopener noreferrer"
           target="_blank"
           title="Twitter"
        >
          {% include icon-twitter.html %}
        </a>
      </li>
      <li class="SocialNav__Item">
        <a class="SocialNav__Link SocialNav__Link--GitHub"
           href="https://github.com/HiroAgustin/"
           rel="noopener noreferrer"
           target="_blank"
           title="GitHub"
        >
          {% include icon-github.html %}
        </a>
      </li>
      <li class="SocialNav__Item">
        <a class="SocialNav__Link SocialNav__Link--LinkedIn"
           href="https://www.linkedin.com/in/HiroAgustin/en/"
           rel="noopener noreferrer"
           target="_blank"
           title="Linkedin"
        >
          {% include icon-linkedin.html %}
        </a>
      </li>
      <li class="SocialNav__Item">
        <a class="SocialNav__Link SocialNav__Link--RSS"
           href="/atom.xml"
           rel="noopener noreferrer"
           target="_blank"
           title="RSS"
        >
          {% include icon-rss.html %}
        </a>
      </li>
    </ul>
    <p>
      <small>
        &copy; Agustín Díaz
      </small>
    </p>
  </div>
</footer>
