<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="//www.google-analytics.com/">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">

  <title>
    {% if page.title == 'Home' %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}

  {% if page.previous.url %}
    <link rel="prev" href="{{ page.previous.url | absolute_url }}">
  {% endif %}
  {% if page.next.url %}
    <link rel="next" href="{{ page.next.url | absolute_url }}">
  {% endif %}

  <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="theme-color" content="#202020">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/themes/prism-okaidia.min.css">

  {% capture styles %}
  {% include styles.scss %}
  {% endcapture %}

  <style>
    {{ styles | scssify }}
  </style>
</head>
