<header class="Header">
  <div class="Container Header__Content">
    <h3 class="Header__Title">
      <a href="/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h3>

    <ul class="Header__Nav">
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link {% if page.url == '/about/' %}Header__Nav__Link--active{% endif %}"
           href="/about/"
           title="About"
        >
          About
        </a>
      </li>
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link {% if page.url == '/archive/' %}Header__Nav__Link--active{% endif %}"
           href="/archive/"
           title="Archive"
        >
          Archive
        </a>
      </li>
    </ul>
  </div>
</header>
