<header class="Header">
  <div class="Container Header__Content">
    <h3 class="Header__Title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h3>

    <ul class="Header__Nav">
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link"
           href="{{ site.baseurl }}/about/"
           title="Agustin’s Profile"
        >
          About
        </a>
      </li>
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link Header__Nav__Link--Twitter"
           href="https://twitter.com/HiroAgustin/"
           title="Agustin’s Twitter"
        >
          {% include icon-twitter.html %}
        </a>
      </li>
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link Header__Nav__Link--GitHub"
           href="https://github.com/HiroAgustin/"
           title="Agustin’s GitHub"
        >
          {% include icon-github.html %}
        </a>
      </li>
      <li class="Header__Nav__Item">
        <a class="Header__Nav__Link Header__Nav__Link--LinkedIn"
           href="https://linkedin.com/in/HiroAgustin/en/"
           title="Agustin’s LinkedIn"
        >
          {% include icon-linkedin.html %}
        </a>
      </li>
    </ul>
  </div>
</header>
