<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="https://adiaz.uy/public/Avatar.jpg">
    <meta itemprop="width" content="300">
    <meta itemprop="height" content="300">
  </span>
  <meta itemprop="name" content="adiaz.uy">
  <meta itemprop="url" content="https://adiaz.uy/">
</span>

<span itemprop="author" itemscope itemtype="https://schema.org/Person">
  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="https://adiaz.uy/public/Avatar.jpg">
    <meta itemprop="width" content="300">
    <meta itemprop="height" content="300">
  </span>
  <meta itemprop="name" content="Agustín Díaz">
  <meta itemprop="url" content="https://adiaz.uy/">
</span>

<span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <meta itemprop="url" content="https://adiaz.uy/public/Logo.jpg">
  <meta itemprop="width" content="300">
  <meta itemprop="height" content="300">
</span>
