// Body resets
//
// Update the foundational and global aspects of the page.

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

svg {
  fill: currentColor;
}

p ~ pre[class*="language-"] {
  margin: 1rem 0;
}

code:not([class*="language-"]) {
  background-color: #f9f9f9;
  border-radius: 3px;
  color: #bf616a;
  font-size: 85%;
  padding: .25em .5em;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    border-bottom: 1px solid $link-color;
    bottom: 0;
    display: block;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform .15s ease-in-out;
    will-change: transform;
  }

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover, &:focus {
    &::after {
      transform: scaleX(1);
    }
  }

  strong {
    color: inherit;
  }
}

img {
  border-radius: 5px;
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  font-size: 85%;
  margin-bottom: 1rem;
  width: 100%;

  td, th {
    border: 1px solid #e5e5e5;
    padding: .25rem .5rem;
  }

  th {
    text-align: left;
  }

  tbody tr:nth-child(odd) {
    td, th {
      background-color: #f9f9f9;
    }
  }
}
