// Header
//
// Super small header above the content for site name and short description.

.Header {
  border-bottom: $border-color 1px solid;
  margin-bottom: 2rem;

  &__Content {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }

  &__Title {
    margin-top: 0;
    margin-bottom: 0;
    color: $gray-4;

    a {
      color: inherit;
      height: 100%;
      padding: .5rem 0;

      &:after {
        border-color: $gray-4;
        bottom: -1px;
      }
    }

    small {
      display: block;
      font-size: 75%;
      font-weight: 400;
      opacity: .5;

      @media (min-width: 30em) {
        display: inline;
      }
    }
  }

  &__Nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__Link {
      color: $gray-2;
      padding: .5rem;
      transition: color .15s ease-out, border-color .15s ease-out;

      &:after {
        border-color: $gray-2;
        bottom: -1px;
      }

      &--GitHub {
        &:hover, &:focus {
          color: $GitHub;

          &:after {
            border-color: $GitHub;
          }
        }
      }

      &--Twitter {
        &:hover, &:focus {
          color: $Twitter;

          &:after {
            border-color: $Twitter;
          }
        }
      }

      &--LinkedIn {
        &:hover, &:focus {
          color: $LinkedIn;

          &:after {
            border-color: $LinkedIn;
          }
        }
      }

      .Icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}
