// Layout
//
// Styles for managing the structural hierarchy of the site.

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.Container {
  margin: 0 auto;
  max-width: 38rem;
  padding: 0 1.5rem;
}
