$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #303030;
$gray-6: #202020;

$white: #ffffff;
$red: #ac4142;
$orange: #ff9c00;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

$root-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-bg: $white;
$body-color: $gray-4;
$link-color: darkorange;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 18px;

$code-font-family: Menlo, Monaco, 'Courier New', monospace;
$code-color: #bf616a;

// Brands
$Twitter: #1DA1F2;
$GitHub: #181717;
$LinkedIn: #0077B5;
$CodePen: #000000;
$RSS: #FFA500;
