---
layout: default
title: adiaz.uy
excerpt: Agustín Díaz personal blog
---
<header class="u-marginBm">
  <h1>Articles</h1>
</header>
<ul>
{% for post in site.posts %}
  <li>
    <a class="box-link {% if forloop.first %}box-link__highlight{% endif %}" href="{{ post.url }}">
      <article itemscope itemtype="http://schema.org/Article/">
        <header>
          <time class="secondary" itemprop="datePublished" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%d %B, %Y" }}</time>
          <h2 itemprop="name">{{ post.title }}</h2>
        </header>
        <p class="box-link__description" itemprop="description">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      </article>
    </a>
  </li>
{% endfor %}
</ul>
