<footer class="body-alt body-alt__top">
  <div class="container u-paddingVm">
    <ul class="u-Flex u-Flex--Justify">
      <li>
        <a class="u-linkComplex" href="https://github.com/HiroAgustin">
          <i class="fa fa-github"></i>
          <span class="u-linkComplexTarget">Github</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex" href="https://twitter.com/HiroAgustin">
          <i class="fa fa-twitter"></i>
          <span class="u-linkComplexTarget">Twitter</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex" href="https://codepen.io/HiroAgustin/">
          <i class="fa fa-codepen"></i>
          <span class="u-linkComplexTarget">Codepen</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex" href="https://www.linkedin.com/in/diazagustin">
          <i class="fa fa-linkedin"></i>
          <span class="u-linkComplexTarget">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
