<footer class="body-alt">
  <div class="container">
    Contact me:

    <ul class="u-Flex">
      <li><a href="https://github.com/HiroAgustin"><i class="fa fa-github"></i> Github</a></li>
      <li><a href="https://twitter.com/HiroAgustin"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li><a href="https://codepen.io/HiroAgustin/"><i class="fa fa-codepen"></i> Codepen</a></li>
      <li><a href="https://www.linkedin.com/in/diazagustin"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    </ul>

    Currently alumn of <a href="https://www.hackerschool.com/">Hacker School</a>
  </div>
</footer>
