<footer class="body-alt body-alt__top u-textCenter">
  <div class="container u-paddingVxl">
    <div class="u-marginBxl">
      <p>
        <span class="h3 u-block u-marginBl">Thanks for dropping by!</span>
        I'm <strong>Agustín</strong>, a full stack web developer from Montevideo, Uruguay.
      </p>
      <p>
        Currently a student at <a href="https://www.hackerschool.com/">Hacker School</a>.
      </p>
    </div>
    <ul class="u-Flex u-Flex--Justify">
      <li>
        <a class="u-linkComplex u-inlineBlock u-textCenter" href="https://github.com/HiroAgustin">
          <i class="fa fa-fw fa-github"></i>
          <span class="u-linkComplexTarget">Github</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex u-inlineBlock u-textCenter" href="https://twitter.com/HiroAgustin">
          <i class="fa fa-fw fa-twitter"></i>
          <span class="u-linkComplexTarget">Twitter</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex u-inlineBlock u-textCenter" href="https://codepen.io/HiroAgustin/">
          <i class="fa fa-fw fa-codepen"></i>
          <span class="u-linkComplexTarget">Codepen</span>
        </a>
      </li>
      <li>
        <a class="u-linkComplex u-inlineBlock u-textCenter" href="https://www.linkedin.com/in/diazagustin">
          <i class="fa fa-fw fa-linkedin"></i>
          <span class="u-linkComplexTarget">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
