<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.excerpt }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- DNS Prefetchs -->
<link rel="dns-prefetch" href="//platform.twitter.com/">
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com/">
<link rel="dns-prefetch" href="//www.google-analytics.com/">

<!-- SEO -->
<link rel="publisher" href="https://plus.google.com/+AgustinDiazUy/">
<meta name="google-site-verification" content="AqlOsF3dLjILVLKqwcDyExZbDNFFogiyhAFUAb9X4R8">

<!-- build:css(app) /styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) /styles/main.css -->
<link rel="stylesheet" href="/styles/main.css">
<!-- endbuild -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
  <script src="/scripts/html5shiv.min.js"></script>
<![endif]-->
