<meta name="description" content="{{ page.excerpt | strip_html }}">

<!-- Open Graph -->
{% if page.id %}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website">
{% endif %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
<meta property="og:description" content="{{ page.excerpt | strip_html }}">
<meta property="og:image" content="http://www.gravatar.com/avatar/9519dd86da6381c554b97f662547d7ed.png?s=200">
<meta property="og:site_name" content="adiaz.uy">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@hiroagustin">
<meta name="twitter:creator" content="@hiroagustin">

<!-- Google -->
<link rel="author" href="https://plus.google.com/+AgustinDiazUy/">
