@import "vendor/suit/utils/text";

html {
  @extend .u-textKern;
  // http://www.johanbrook.com/articles/native-style-momentum-scrolling-to-arrive-in-ios-5/
  -webkit-overflow-scrolling: touch;
}

.body-alt {
  // http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	// http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
