---
layout: compress
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include Head.html %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/themes/prism-okaidia.min.css"  media="nope!" onload="this.media='all'">
  </head>
  <body>
    {% include Header.html %}
    <main>
      <div class="Container">
        {{ content }}
      </div>
    </main>
    {% include Footer.html %}
    <script async src="//cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/prism.min.js"></script>
    {% include Analytics.html %}
  </body>
</html>
